.Register{
   
   background-color: white;
   text-align: left;
   border:solid black;
   height: 167px;
   width: 1220px;
   justify-content: space-around;
   align-items: center;
   font-size: 23px;
   color: rgb(13, 50, 77);
   padding-left: 0;
   display: flex;
   flex-direction: row;
   ;
  }
  .click {
    width: 300px;
    background: rgb(39, 84, 117);
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: normal;
}
.click:hover{
  background-color: rgb(49, 105, 146);
}
