.ESTHÉTIQUE{
  position: absolute;
  width: 451px;
  height: 72px;
  left: 106px;
  top: 837px;

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  color: #ffffff;

}

.UI{
  position: absolute;
  width: 378px;
  height: 57px;
  left: 116px;
  top: 928px;

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;

  color: #11495E;
}

.Introduction{
  position: absolute;
  width: 728px;
  height: 400px;
  left: 106px;
  top: 1042px;

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;

  color: #ffffff;
}

.Rectangle23{
  position: absolute;
  width: 399px;
  height: 75px;
  left: 106px;
  top: 965px;

  background: #FFFFFF;
}

