.Heading{
    font-weight: bold;
    font-size: 8vw;
    color: white;
    margin: 0px;
    padding-top: 40px;
}

.RegisterButton{
    color: white !important;
    border-color: white !important;
    border-radius: 0px !important;
    border-width: 2px !important;
    margin-top: 25px !important;
    font-size: 20px !important;
}

.RegisterButton:hover{
    background-color: rgba(255, 255, 255, 0.2) !important;
}

@media screen and (max-width: 600px) {
    .Heading {
        font-size: 3em;
        margin-top: 45px;
    }

    .RegisterButton{
        margin-top: 25px !important;
        font-size: 1em !important;
    }

}