.GradientEclipse {
  position: absolute;
  width: 100%;
  height: 70vh;
  background-position: left;
  background: rgba(28, 141, 143, 0.6);
  filter: blur(800px);
}

.BackgroundLogomark {
  position: absolute;
  width: 100%;
  height: 200vh;
  background: url("./assets/background-logomark.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: 96%;
  background-position-y: 120px;
}

body {
  background-color: #0d324d;
}

.IntroSection {
  margin-top: 200px;
}

.PrizesSection {
  margin-top: 100px;
}

.TwitterSection {
  margin-top: 100px;
}

.RegisterSection {
  margin-top: 100px;
  margin-bottom: 50px;
}

.SponsorSection {
  margin-top: 100px;
}

@media screen and (max-width: 840px) {
  .BackgroundLogomark {
    background-size: 60%;
  }
}

@media screen and (max-width: 600px) {
  .BackgroundLogomark {
    background-size: 80%;
  }
}
